---
import { getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";

const posts = await getCollection("blog");
---

<Main title="Blog">
  <h1>Blog Pageeee</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      </li>
    ))}
  </ul>
</Main>