:root {
	--gelica: 'gelica', sans-serif;
	--bryant: 'bryant-web', sans-serif;
}

html {
	--background: #ffffff;
	--white: #ffffff;

	/* Greys */
	--dark-gray: #444548;
	--medium-gray: #808386;
	--light-gray: #f1f1f2;

	/* Primary */
	--primary-darkest: #5e74e3;
	--primary-darker: #7688e9;
	--primary-dark: #8f9fef;
	--primary-medium: #a9b5f4;
	--primary-light: #c3cbf8;
	--primary-lighter: #dce0fc;
	--primary-lightest: #f4f5ff;

	/* Secondary */
	--secondary-darkest: #e35e74;
	--secondary-darker: #e97588;
	--secondary-dark: #ef8c9b;
	--secondary-medium: #f5a4af;
	--secondary-light: #fabdc5;
	--secondary-lighter: #fdd5db;
	--secondary-lightest: #fff2f3;

	/* Accent */
	--accent-darkest: #279f95;
	--accent-darker: #2eb2a7;
	--accent-dark: #34c5b8;
	--accent-medium: #9ae2dc;
	--accent-light: #cdf1ee;
	--accent-lightest: #e6f8f7;
}

body {
	font-family: var(--bryant);
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: var(--dark-gray);
	background: var(--background);
	overflow-x: hidden;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
	width: 0px;
	background: transparent;
	display: none;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: var(--prim);
	text-decoration: none;
	cursor: pointer;
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	font-family: var(--gelica);
	font-weight: 900;
	font-size: 2.3rem;
	line-height: 1;
	color: var(--dark-gray);
	margin: 0;
}

h2 {
	font-family: var(--gelica);
	font-weight: 700;
	font-style: normal;
	font-size: 1.9rem;
	line-height: 1.2;
	color: var(--dark-gray);
	margin: 0;
	padding-bottom: 10px;
}

h3 {
	font-family: var(--bryant);
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 2rem;
	text-transform: uppercase;
	color: var(--primary-darker);
	margin: 0;
}

h4 {
	font-family: var(--bryant);
	font-size: 1.375rem;
	line-height: 1.2;
	font-weight: 600;
	color: var(--dark-gray);
	margin: 0;
}

h5 {
	font-family: var(--bryant);
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--secondary-darkest);
	margin: 0;
}

/* mini subheaders */
h6 {
	font-family: var(--bryant);
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--dark-gray);
	margin: 0;
}

.header-underline {
	width: 60px;
	height: 4px;
	background: var(--primary-dark);
	margin: 0.5rem auto 2rem;
	border-radius: 3px;
}

main {
	width: 100%;
	margin: auto;
}

p {
	font-family: var(--bryant);
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
}

.focus-font {
	color: var(--secondary-darkest);
	white-space: nowrap;
}
.focus-font-lt {
	color: var(--secondary-medium);
	white-space: nowrap;
}

#hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 30px 60px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#about-section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 30px 20px;
	width: 100%;
	overflow: hidden;
}

#hero-banner-section {
	position: relative;
	overflow: hidden;
	background-color: var(--primary-lightest);
}
#hero-banner-section,
#contact-section,
#why-us,
#gallery-section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 30px;
	width: 100%;
	overflow: hidden;
}

#pricing-section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 30px 60px;
	width: 100%;
}

#services-section {
	background-color: var(--primary-lightest);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 30px;
	width: 100%;
}

/* Medium devices (md) - 768px and above */
@media (min-width: 768px) {
	#hero-section {
		padding: 80px 40px 40px;
	}
	#about-section {
		padding: 80px 30px 10px;
	}
	#contact-section,
	#services-section,
	#why-us,
	#gallery-section {
		padding: 60px 40px;
	}
	#pricing-section {
		padding: 0 40px 80px;
	}
}

/* Large devices (lg) - 992px and above */
@media (min-width: 992px) {
	#hero-section {
		padding: 100px 60px;
	}
	#about-section {
		padding: 80px 60px 10px;
	}
	#contact-section,
	#services-section,
	#why-us,
	#gallery-section {
		padding: 60px;
	}

	#pricing-section {
		padding: 20px 60px 80px;
	}
}

@media (min-width: 1200px) {
	#hero-section {
		padding: 100px 80px 40px;
	}
	#about-section {
		padding: 80px 80px 10px;
	}

	#contact-section,
	#services-section,
	#why-us,
	#gallery-section {
		padding: 60px 80px;
	}

	#pricing-section {
		padding: 20px 80px 80px;
	}
}
