---
// import Cards from "../components/BlogCards.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Main from "../layouts/Main.astro";
import ServicesCards from "../components/ServicesCards.astro";
import ContactForm from "../components/ContactForm.astro";
import ContactInfo from "../components/ContactInfo.astro";


// Astro.glob
// const blogs = await Astro.glob<{
//   poster: string;
//   title: string;
//   subtitle: string;
// }>("../pages/blogs/*.md");

const servicesCardsData = [
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
    {
      icon: "https://res.cloudinary.com/daecnx7ih/image/upload/v1720016516/pet-clock-1_jjatgy.svg",
      iconAlt: "cat icon",
      title: "Cat and Critter Care",
      desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
    },
  ]

  const contactInfoData = [
  {
    icon: "fa-solid fa-location-dot",
    iconDesc: "locaion pin icon",
    title: "Location",
    desc: "777 Pacific St Brooklyn, NY 11111",
  },
  {
    icon: "fa-regular fa-clock",
    iconDesc: "clock icon",
    title: "Hours",
    desc: "Mon - Fri 8:00am - 8:00pm",
  },
  {
    icon: "fa-solid fa-phone-volume",
    iconDesc: "telephone icon",
    title: "Telephone",
    desc: "917-555-4444",
  },
  {
    icon: "fa-regular fa-envelope",
    iconDesc: "email icon",
    title: "Email",
    desc: "info@epictails.com",
  },
];
---

<Main title="Epic Tails">
  <Hero />
  <About/>
  <div class="blue-section">
  <section id="services-section">
    <ServicesCards servicesCards={servicesCardsData} />
 
  </section>
  </div>
  <section id="contact-section">
    <div class="contact-container">
      <div class="contact-left">

        <ContactForm />
      </div>
      <div class="contact-right">
        <h2>Get In Touch</h2>
        <ContactInfo contactInfo={contactInfoData} />
      </div>
    </div>
  </section>
  
</Main>

<style>


  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    margin: 75px 0;
  }

  .contact-left {
    order: 2;
    width: 100%;
  }

  .contact-right {
    order: 1;
    width: 100%;
  }

</style>

