---
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Main from '../layouts/Main.astro'
import HeroCards from '../components/HeroCards.astro'
import ServicesCard from '../components/ServicesCard.astro'
import Gallery from '../components/PhotoGallery.astro'
// import PhotoGallery from '../components/PhotoGallery.astro'
import WhyUs from '../components/WhyUs.astro'
import PricingCard from '../components/PricingCard.astro'
import { servicesData } from '../data/ServicesData.ts'
import { pricingData } from '../data/PricingData.ts'
import PhotoGallery from '../components/PhotoGallery.astro'

const profilePicture = 'https://i.imgur.com/JPGFE75.jpg'
---

<Main title="Epic Tails">
	<Hero />
	<!-- <div class="hero-points">
		<HeroCards
			heroCards={[
				{
					icon: '/icons/ribbon.svg',
					iconDesc: 'icon of',
					title: 'Fully Certified'
				},
				{
					icon: '/icons/clock.svg',
					iconDesc: 'icon of clock with paw print',
					title: 'Flexible Hours'
				},
				{
					icon: '/icons/paw-1.svg',
					iconDesc: 'icon of',
					title: 'Custom Care'
				}
			]}
		/>
	</div> -->
	<About />
	<section id="services-section">
		<div class="services-container">
			{
				servicesData.map((card) => (
					<div class="services-cards">
						<ServicesCard {...card} />
					</div>
				))
			}
		</div>
	</section>
	<WhyUs />
	<Gallery />
	<section id="pricing-section">
		<div class="pricing-container">
			<div class="pricing-header">
				<h3>Pricing</h3>
				<h2>Our <span class="focus-font">Pricing</span> Packages</h2>
				<div class="header-underline"></div>
			</div>
			<div class="pricing-card-container">
				{
					pricingData.map((card) => (
						<div class="pricing-cards">
							<PricingCard {...card} />
						</div>
					))
				}
			</div>
		</div>
	</section>
	<section></section>

	<style>
		/* Services */
		.services-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			gap: 1.5rem;
			width: 100%;
			padding: 60px 30px;
			max-width: 1300px;
		}

		/* Pricing Cards */

		.pricing-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			max-width: 1300px;
			width: 100%;
		}
		.pricing-header {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			text-align: center;
		}
		.pricing-card-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			gap: 1.5rem;
			width: 100%;
			max-width: 1300px;
		}

		.pricing-header h2 {
			padding-bottom: 17px;
		}
		/* Media Queries*/

		/* Services */

		@media (min-width: 768px) {
			.services-container {
				padding: 60px 40px;
				grid-template-columns: repeat(2, 1fr);
			}
			.pricing-card-container {
				grid-template-columns: repeat(2, 1fr);
				gap: 3rem;
			}
		}

		@media (min-width: 992px) {
			.services-container {
				padding: 60px;
				grid-template-columns: repeat(3, 1fr);
			}
		}
		@media (min-width: 1200px) {
			.services-container {
				padding: 60px 80px;
				gap: 2rem;
			}

			.pricing-card-container {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	</style>
</Main>
