---
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Main from '../layouts/Main.astro'
import ServicesCard from '../components/ServicesCard.astro'
import WhyUs from '../components/WhyUs.astro'
import PricingCard from '../components/PricingCard.astro'
import { servicesData } from '../data/ServicesData.ts'
import { pricingData } from '../data/PricingData.ts'

const profilePicture = 'https://i.imgur.com/JPGFE75.jpg'
---

<Main title="Epic Tails">
	<Hero />
	<About />
	<section id="services-section">
		<div class="services-container">
			{
				servicesData.map((card) => (
					<div class="services-cards">
						<ServicesCard {...card} />
					</div>
				))
			}
		</div>
	</section>
	<WhyUs />

	<section id="pricing-section">
		<div class="pricing-container">
			{
				pricingData.map((card) => (
					<div class="pricing-cards">
						<PricingCard {...card} />
					</div>
				))
			}
		</div>
	</section>
</Main>

<style>
	/* Services */
	.services-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1.5rem;
		width: 100%;
		padding: 60px 30px;
		max-width: 1300px;
	}

	/* Pricing Cards */
	.pricing-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1.5rem;
		width: 100%;
		padding: 60px 30px;
		max-width: 1300px;
	}

	/* Media Queries*/

	/* Services */

	@media (min-width: 768px) {
		.services-container {
			padding: 60px 40px;
			grid-template-columns: repeat(2, 1fr);
		}
		.pricing-container {
			padding: 60px 40px;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (min-width: 992px) {
		.services-container {
			padding: 60px;
			grid-template-columns: repeat(3, 1fr);
		}
		.pricing-container {
			padding: 60px;
			grid-template-columns: repeat(3, 1fr);
		}
	}
	@media (min-width: 1200px) {
		.services-container {
			padding: 60px 80px;
			gap: 2rem;
		}
		.pricing-container {
			padding: 60px 80px;
			gap: 2rem;
		}
	}
</style>
