---
import Cards from "../components/BlogCards.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Main from "../layouts/Main.astro";
import ServicesCard from "../components/ServicesCard.astro";
import WhyUs from "../components/WhyUs.astro";
import { servicesData } from "../data/ServicesData.ts";

const profilePicture = "https://i.imgur.com/JPGFE75.jpg";

// Astro.glob
// const blogs = await Astro.glob<{
//   poster: string;
//   title: string;
//   subtitle: string;
// }>("../pages/blogs/*.md");
---

<Main title="Epic Tails">
  <Hero />
  <About/>
  <section id="services-section">
    <div class="services-container">
    {servicesData.map((card) => (
      <div class="services-cards">
      <ServicesCard {...card} />
    </div>
    ))}
    </div>
   
  </section>
  <WhyUs />


</Main>

<style>
  
  /* Services */
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: auto;
    width: 100%;
  }

  /* Media Queries*/

  /* Services */
    .services-cards {
    gap: 2rem;
    }
  
</style>