---
import Cards from "../components/BlogCards.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Main from "../layouts/Main.astro";
import ServicesCards from "../components/ServicesCards.astro";
import WhyUs from "../components/WhyUs.astro";

const profilePicture = "https://i.imgur.com/JPGFE75.jpg";

// Astro.glob
// const blogs = await Astro.glob<{
//   poster: string;
//   title: string;
//   subtitle: string;
// }>("../pages/blogs/*.md");
---

<Main title="Epic Tails">
  <Hero />
  <About/>

  <div class="blue-section">
  <section id="services-section">
  <ServicesCards  
    servicesCards={[
      {
        icon: "/public/icons/cat.png",
        iconAlt: "cat icon",
        title: "Cat and Critter Care",
        desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
      },
      {
        icon: "/public/icons/cat.png",
        iconAlt: "cat icon",
        title: "Cat and Critter Care",
        desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
      },
      {
        icon: "/public/icons/cat.png",
        iconAlt: "cat icon",
        title: "Cat and Critter Care",
        desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
      },
      {
        icon: "/public/icons/cat.png",
        iconAlt: "cat icon",
        title: "Cat and Critter Care",
        desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
      },
      {
        icon: "/public/icons/cat.png",
        iconAlt: "cat icon",
        title: "Cat and Critter Care",
        desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
      },
      {
        icon: "/public/icons/cat.png",
        iconAlt: "cat icon",
        title: "Cat and Critter Care",
        desc: "There are many variations of passages orem psum available but the majority have suffered alteration in some.",
      },
      ]}
    />
   
  </section>
  <WhyUs />
</div>

</Main>

<style>

</style>