---
---


<section class="about-us-section">
    <div class="about-left-side">
        <div class="about-img-container">
            <img class="about-img" alt="happy girls with their dogs"/>
            <div class="yrs-exp-circle">
                <p class="about-yrs-exp"><span class="about-10">10 +</span> Years of Experience </p>
            </div>
        </div>
        <img class="bkg-blob"/>
    </div>
    <div class="about-right-side">
        <h3>ABOUT US</h3>
        <h2></h2>
        <p></p>
        <ul>
            <li><img/><p></p></li>
            <li><img/><p></p></li>
            <li><img/><p></p></li>
        </ul>
        <button></button>
    </div>
</section>

<style>
    .about-us-section{
        display: flex;
        flex-direction: column;
    }
    .about-left-side {
        display: flex;
        
    }
</style>