---
interface Props {
  href: string;
  size?: "md" | "lg";
  full?: boolean;
  style?: "outline" | "primary" | "secondary";
  class?: string;
  type?: string;
  [x: string]: any;
}

const {
  href,
  full,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "btn-lg",
  md: "btn-md",
};

const styles = {
  outline: "btn-outline",
  primary: "btn-primary",
  secondary: "btn-secondary",
};
---

<style>
  
  .btn {
    border-radius: 40px;
    text-align: center;
    transition: all 0.3s ease;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 8px 0;
  }

  .btn-lg {
    padding: 0.8rem 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    min-width: 150px;
    
  }

  .btn-md {
    padding: 0.5rem 1rem;
    font-size: .8rem;

  }
  

  
  /* Primary blue button */
    .btn-primary {
      background-color: var(--primary-darker);
      color: var(--white);
      border: 2px solid transparent;
      border-radius: 40px;

    }

    .btn-primary:hover {
        background-color: var(--primary-dark);
        color: var(--white);
    }
    .btn-primary a:hover, .btn-primary a:focus, .btn-primary a:active {
        color: var(--white);
    } 

    .btn-outline {
        background-color: var(--white);
        border: 2px solid var(--primary-darker);
        color: var(--primary-darker);
    }

    .btn-outline:hover {
        background-color: var(--primary-dark);
    }
    
 /* Secondary pink button */
    .btn-secondary {
      background-color: var(--secondary-darkest);
      color: var(--white);

      border: 2px solid transparent;
    }

    .btn-secondary:hover {
        background-color: var(--secondary-lightest);
        color: var(--secondary-darkest);
        border: 2px solid var(--secondary-darkest);
 
    }

  .full {
    width: 100%;
  }


/* Large devices (lg) - 992px and above */


</style>

<a
  href={href}
  {...rest}
  class={[
    "btn",
    full ? "full" : "",
    sizes[size],
    styles[style],
    className,
  ].filter(Boolean).join(' ')}
><slot /></a>
