---
interface Props {
  href: string;
  size?: "md" | "lg";
  full?: boolean;
  style?: "outline" | "primary" | "secondary";
  class?: string;
  [x: string]: any;
}

const {
  href,
  full,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "btn-lg",
  md: "btn-md",
};

const styles = {
  outline: "btn-outline",
  primary: "btn-primary",
  secondary: "btn-secondary",
};
---

<style>
  
  .btn {
    border-radius: 40px;
    text-align: center;
    transition: all 0.3s ease;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 8px 0;
  }

  .btn-lg {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    
  }

  .btn-md {
    padding: 0.5rem 1rem;
    font-size: .8rem;

  }
  

  
  /* Primary blue button */
    .btn-primary {
      background-color: var(--celtic-blue);
      color: var(--white);
      border: 2px solid transparent;
      border-radius: 20px;
    }

    .btn-primary:hover {
        background-color: var(--cornflower-blue);
        color: var(--white);
    }
    .btn-primary a:hover, .btn-primary a:focus, .btn-primary a:active {
        color: var(--white);
    } 

    .btn-outline {
        background-color: var(--white);
        border: 2px solid var(--celtic-blue);
        color: var(--celtic-blue);
    }

    .btn-outline:hover {
        background-color: var(-cornflower-blue);
    }
    
 /* Secondary pink button */
    .btn-secondary {
      background-color: var(--light-red);
      color: var(--white);

      border: 2px solid transparent;
    }

    .btn-secondary:hover {
        background-color: var(--light-coral);
 
    }

  .full {
    width: 100%;
  }

  .btn-primary.booking-btn {
      font-size: 1.6rem !important;
  }

/* Large devices (lg) - 992px and above */
@media (min-width: 992px) {
  /* Your styles for large devices */
  .btn-primary.booking-btn {
    padding: 0.8rem 1rem;
    font-size: 1.2rem !important;  
  }
}

/* Extra large devices (xl) - 1200px and above */
@media (min-width: 1200px) {
  /* Your styles for extra large devices */
}

/* Extra extra large devices (xxl) - 1400px and above */
@media (min-width: 1400px) {
  /* Your styles for extra extra large devices */
}

</style>

<a
  href={href}
  {...rest}
  class={[
    "btn",
    full ? "full" : "",
    sizes[size],
    styles[style],
    className,
  ].filter(Boolean).join(' ')}
><slot /></a>
