---
import Button from "./Button.astro"
---

<div class="contact-form">
    
        <form>
            <h4 class="contact-form-header">Contact Us!</h4>
            <div class="form-row">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="user_name" placeholder="First and Last Name"/>
            </div>
            <div class="form-row">
                <label for="mail">Email</label>
                <input type="email" id="mail" name="user_email" placeholder="Email Address"/>
            </div>
            <div class="form-row">
                <label for="msg">Subject</label>
                <input type="text" id="msg" name="user_subject" placeholder="Subject"></input>
            </div>
            <div class="form-row form-message">
                <label for="msg">Message</label>
                <textarea id="msg" name="user_message" placeholder="Write Your Message"></textarea>
            </div>
            <div class="form-btn">
                <Button href="#" size="lg" style="secondary" class="booking-btn" type="submit">Send Message</Button>
            </div>
            
        </form>
</div>

<style>
    .contact-form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}
    form {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    width: 100%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    background: var(--primary-darker);
    }

    .contact-form-header {
        width: 100%;
        text-align: center;
    }
    form h4, form label {
        color: var(--white) !important;
    }

    form h4 {
        margin-bottom: 20px;
    }

    input, textarea {
        font-size:1.05rem;
        color: var(--dark-gray)
    }

    .form-row {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .form-message textarea, .form-row input {
        border: none;
        padding: 8px;
        border-radius: 9px;
        width: 100%;
        margin: 5px 0 18px;
        
    }

    .form-row input {
        height: 40px;
           }

    .form-row input::placeholder,
    .form-row textarea::placeholder {
        font-family: var(--bryant);
        font-size: 1rem;
        color: var(--light-gray);
    }

   .form-row input:focus {
        outline-color: var(--accent-darker);
    }

    .form-message textarea::placeholder {
        line-height: 20px;
    
    }
    .form-message textarea {
        height: 100px;
    }

    .form-row textarea:focus {
        outline-color: var(--accent-darker);
    }

    .form-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;  
    }
  

  .form-row input,
  .form-message textarea {
    /* font-size: 1rem; */
  }



    @media (min-width: 768px) {
        .contact-form {
            width: 80%;
        }
    }
    
    @media (min-width: 992px) {
      
    }
    @media (min-width: 1024px) {
      
    }
</style>