---
import HeroCard from "./HeroCard.astro";
// Import the Card Props type
import type { Props as HeroCardProp } from "./HeroCard.astro";

// defined the Props for this component
type Props = {
  heroCards: HeroCardProp[]; // accepts an array of CardProps
};

const { heroCards } = Astro.props;
---

<div class="hero-cards">
  {/** Dynamically render multiple Card components */}
  {heroCards.map((card) => <HeroCard {...card} />)}
</div>

<style>
  .hero-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: auto;

    width: 100%;
  }


  @media screen and (min-width: 768px) {
    .hero-cards {
      flex-direction: row;
      gap: 1rem;
      max-width: 500px;
    }

  }
  @media screen and (min-width: 1024px) {
    .hero-cards {
      flex-direction: row;
    }
  }
</style>