---
import Button from './Button.astro'
import HeroCards from './HeroCards.astro'
---

<section id="hero-section">
	<div class="hero-container">
		<div class="hero-left">
			<div class="hero-left-container">
				<img
					src="/icons/paw-prints-hero.svg"
					alt="celeste blue colored paw prints"
					class="hero-paws"
					height="100"
				/>
				<div class="blob-left">
					<img src="/images/hero-blob-1.svg" alt="pastel pink blob" height="300" />
				</div>
				<div class="blob-mobile">
					<img src="/images/hero-blob-2.svg" alt="light blue blob" height="250" />
				</div>

				<img
					src="/images/russian-blue.png"
					alt="russian blue cat with green eyes sitting"
					height="300"
					class="hero-cat"
				/>
				<img
					src="/images/golden-lab.webp"
					alt="golden labrador retriever sitting looking happy"
					height="400"
					class="mobile-lab"
				/>
			</div>
		</div>
		<div class="hero-center">
			<div class="hero-header">
				<h3>Pet Sitting & Dog Walking</h3>
				<h1>Caring for <span class="focus-font">Your Pets</span> Like They're Our Own</h1>
				<p class="hero-p">
					Providing compassionate and attentive pet sitting services that prioritize your pet's
					comfort and well-being, because we treat them like family.
				</p>
				<Button href="#" size="lg" style="secondary" class="booking-btn">Book Now</Button>
			</div>
		</div>
		<div class="hero-right">
			<div class="blob-right">
				<img src="/images/hero-blob-2.svg" alt="light blue blob" height="300" />
			</div>
			<img
				src="/images/golden-lab.webp"
				alt="golden labrador retriever sitting looking happy"
				height="400"
				class="golden-hero"
			/>
		</div>
	</div>
</section>

<style>
	.hero-container {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		height: 100%;
		max-width: 1100px;
	}

	.hero-left {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 25px;
		width: 100%;
		z-index: 2;
		order: 1;
	}

	.hero-left-container {
		position: relative;
		width: min-content;
	}

	.blob-left {
		display: none;
	}
	.blob-mobile {
		display: flex;
		align-items: center;
		justify-content: center;
		aspect: 1/1;
		width: min-content;
		height: 285px;
		z-index: 2;
	}

	.blob-mobile img {
		height: 100%;
	}
	.hero-paws {
		position: absolute;
		height: 110px;
		top: -50px;
		left: 25px;
		transform: rotate(-100deg);
		z-index: -1;
	}

	.hero-cat {
		position: absolute;
		height: 220px;
		bottom: 0;
		left: -3px;
		z-index: 5;
	}

	.mobile-lab {
		position: absolute;
		height: 320px;
		bottom: 0;
		right: 5px;
		z-index: 4;
	}

	.hero-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.hero-p {
		text-align: center;
		padding-bottom: 15px;
	}

	.hero-header {
		margin-bottom: 15px;
	}

	.hero-header h1 {
		text-align: center;
		padding-bottom: 15px;
	}

	.hero-center {
		order: 2;
	}

	.hero-right {
		display: none;
	}
	.hero-points {
		display: flex;
	}

	@media (min-width: 992px) {
		.hero-container {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: 2rem;
		}

		.hero-left {
			order: 2;
		}

		.hero-center {
			order: 1;
		}
		.hero-right {
			display: none;
		}

		.hero-cat {
			left: -10px;
		}

		.mobile-lab {
			right: -5px;
		}
	}

	@media (min-width: 1100px) {
		.hero-container {
			display: grid;
			grid-template-columns: 30% 40% 30%;
			gap: 1rem;
			padding: 60px 0;
		}
		.mobile-lab,
		.blob-mobile {
			display: none;
		}

		.hero-left,
		.hero-center,
		.hero-right {
			order: unset;
			width: 100%;
			margin: 0;
		}
		.hero-paws {
			height: 110px;
			top: -110px;
			left: unset;
			right: -40px;
			transform: rotate(-100deg);
			z-index: -1;
		}
		.blob-left {
			display: flex;
			width: 100%;
		}

		.blob-left img {
			width: 250px;
		}

		.hero-cat {
			height: 320px;
			bottom: 0;
			left: -3px;
			z-index: 5;
		}

		.hero-right {
			position: relative;
			display: flex;
		}

		.blob-right {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
		}

		.blob-right img {
			width: 290px;
		}

		.golden-hero {
			position: absolute;
			bottom: 0px;
			right: 50px;
			height: 360px;
		}
	}

	/* Extra extra large devices (xxl) - 1400px and above */
	@media (min-width: 1400px) {
		.hero-container {
			padding: 120px 0;
		}
	}
</style>
