---
import Button from './Button.astro'
---

<section id="hero-section">
	<div class="hero-container">
		<div class="hero-left">
			<div class="hero-left-container">
				<picture>
					<source srcset="/images/russian-blue.webp" type="image/webp" />
					<source srcset="/images/russian-blue.png" type="image/png" />
					<img
						src="/images/russian-blue.png"
						alt="russian blue cat with green eyes sitting"
						class="hero-cat"
						height="300"
						width="180"
					/>
				</picture>
				<picture>
					<source srcset="/images/golden-lab.webp" type="image/webp" />
					<source srcset="/images/golden-lab.png" type="image/png" />
					<img
						src="/images/golden-lab.png"
						alt="golden labrador retriever sitting looking happy"
						class="hero-lab"
						height="400"
						width="315"
					/>
				</picture>

				<div class="hero-left-blobs">
					<img
						src="/icons/paw-prints-hero.svg"
						alt="celeste blue colored paw prints"
						class="hero-paws"
						height="100"
						width="76.3"
					/>
					<div class="blob-left">
						<img src="/images/hero-blob-1.svg" alt="pastel pink blob" height="100" width="97" />
					</div>
					<div class="blob-left-2">
						<img src="/images/hero-blob-2.svg" alt="light blue blob" height="142" width="165" />
					</div>
				</div>
			</div>
		</div>
		<div class="hero-center">
			<div class="hero-header">
				<h3>Pet Sitting & Dog Walking</h3>
				<h1>Caring for <span class="focus-font">Your Pets</span> Like They're Our Own</h1>
				<p class="hero-p">
					Providing compassionate and attentive pet sitting services that prioritize your pet's
					comfort and well-being, because we treat them like family.
				</p>
				<Button href="#" size="lg" style="secondary" class="booking-btn">Book Now</Button>
			</div>
		</div>
		<div class="hero-right">
			<div class="hero-right-blobs">
				<div class="blob-right">
					<img src="/images/hero-blob-3.svg" alt="light blue blob" />
				</div>
				<div class="blob-right-2">
					<img src="/images/hero-blob-4.svg" alt="light blue blob" />
				</div>
				<img
					src="/icons/paw-prints-hero.svg"
					alt="light grey colored paw prints"
					class="hero-paws-right"
					height="100"
				/>
			</div>
			<img src="/images/dog.png" alt="dog sitting looking happy" height="400" class="hero-dog" />
		</div>
	</div>
</section>

<style>
	.hero-container {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		width: 100%;
		max-width: 1100px;
	}

	.hero-left {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 40px;
		width: 100%;
		z-index: 2;
		order: 1;
	}

	.hero-left-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: fit-content;
		width: fit-content;
	}

	.hero-left-blobs {
		position: relative;
		height: 300px;
		width: 300px;
		z-index: 1;
	}

	.blob-left {
		position: absolute;
		bottom: -55px;
		right: 15px;
		height: 100%;
		width: auto;
		transform: rotate(-25deg);
		z-index: 6;
	}

	.blob-left img {
		height: 285px;
		width: auto;
	}
	.blob-left-2 {
		position: absolute;
		top: 0px;
		left: -45px;
		height: 100%;
		width: auto;
		transform: scaleX(-1) rotate(130deg);
		z-index: -1;
	}

	.blob-left-2 img {
		height: 325px;
		width: auto;
	}

	.hero-paws {
		position: absolute;
		top: -85px;
		left: 40px;
		width: auto;
		transform: rotate(-95deg);
		z-index: 3;
	}

	.hero-paws img {
		height: 140px;
		width: auto;
	}

	.hero-cat {
		position: absolute;
		height: 220px;
		width: auto;
		bottom: -5px;
		left: 0;
		z-index: 5;
	}

	.hero-lab {
		position: absolute;
		height: 320px;
		width: auto;
		bottom: 0;
		right: 0;
		z-index: 4;
	}

	.hero-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.hero-p {
		text-align: center;
		padding-bottom: 15px;
	}

	.hero-header {
		margin-bottom: 15px;
	}

	.hero-header h1 {
		text-align: center;
		padding-bottom: 15px;
	}

	.hero-center {
		order: 2;
	}

	.hero-right {
		display: none;
	}
	.hero-points {
		display: flex;
	}

	@media (min-width: 768px) {
		.hero-left {
			margin-bottom: 60px;
		}

		.blob-left {
			right: 20px;
			transform: rotate(-20deg);
		}
		.blob-left img {
			width: 330px;
		}

		.blob-left-2 {
			left: -100px;
		}
		.blob-left-2 img {
			height: 370px;
		}
		.hero-paws {
			top: -100px;
			left: 10px;
		}
	}

	@media (min-width: 992px) {
		.hero-container {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: 2rem;
		}

		.hero-left {
			order: 2;
		}

		.hero-center {
			order: 1;
		}
		.hero-right {
			display: none;
		}

		.blob-left {
			width: 285px;
		}
		.blob-left-2 {
			top: -60px;
			left: -100px;
		}
		.hero-paws {
			height: 160px;
			top: -100px;
			left: -150px;
			transform: rotate(-90deg);
		}
	}

	@media (min-width: 1100px) {
		.hero-container {
			display: grid;
			grid-template-columns: 30% 40% 30%;
			gap: 1rem;
			padding: 60px 0;
		}

		.hero-left,
		.hero-center,
		.hero-right {
			order: unset;
			width: 100%;
			margin: 0;
		}

		.blob-left {
			top: 40px;
			left: -140px;
			width: 285px;
			transform: rotate(-20deg);
		}
		.blob-left-2 {
			top: -250px;
			left: -350px;
			transform: scaleX(1) rotate(0deg);
		}

		.hero-cat {
			height: 220px;
			bottom: -10px;
			left: -220px;
		}

		.hero-paws {
			height: 160px;
			top: -140px;
			left: -160px;
			transform: rotate(-90deg);
		}

		.hero-right {
			position: relative;
			display: flex;
			z-index: 2;
		}

		.hero-right-blobs {
			position: relative;
			height: 300px;
			width: 100%;
			aspect: 1/1;
			z-index: 1;
		}

		.blob-right {
			position: absolute;
			top: 30px;
			right: 40px;
			width: 270px;
			z-index: 6;
			transform: rotate(10deg);
		}

		.blob-right-2 {
			position: absolute;
			top: -200px;
			right: -300px;
			width: 600px;
			z-index: -1;
		}
		.hero-paws-right {
			position: absolute;
			height: 170px;
			right: -45px;
			bottom: -120px;
			transform: scaleX(-1) rotate(-80deg);
			z-index: 8;
		}

		.hero-dog {
			position: absolute;
			height: 350px;
			bottom: -10px;
			right: -10px;
			z-index: 4;
		}
	}

	@media (min-width: 1200px) {
		.hero-container {
			padding: 120px 0;
		}

		.blob-left {
			left: -160px;
			transform: rotate(-10deg);
		}
		.blob-left-2 {
			top: -250px;
			left: -450px;
			width: 650px;
		}

		.hero-cat {
			left: -220px;
		}

		.hero-lab {
			height: 320px;
			right: -110px;
		}

		.hero-paws {
			left: -190px;
		}

		.blob-right {
			position: absolute;
			top: 50px;
			right: -10px;
			width: 300px;
			z-index: 6;
			transform: rotate(75deg);
		}

		.blob-right-2 {
			right: -320px;
			transform: rotate(10deg);
		}
		.hero-paws-right {
			bottom: -140px;
		}
		.hero-dog {
			right: -40px;
		}
	}
</style>
