---
import Button from "./Button.astro"
import HeroCards from "./HeroCards.astro"


---

<section id="hero-section">
    <div class="hero-container">
        <div class="hero-left">
            <img src="/icons/paw-prints-4.svg" alt="celeste blue colored paw prints" class="hero-paws" height=100>
            <div class="blob-left">
                <img src="/images/hero-blob-1.svg" alt="pastel pink blob" height=300>
            </div>
            <div class="blob-mobile">
                <img src="/images/hero-blob-2.svg" alt="light blue blob" height=250>
            </div>
            <img src="/images/russian-blue.png" alt="russian blue cat with green eyes sitting" height="300" class="hero-cat">
            <img src="/images/golden-lab.webp" alt="golden labrador retriever sitting looking happy" height=400 class="mobile-lab">
        </div>
        <div class="hero-center">
            <div class="hero-header">
                <h3>Pet Sitting & Dog Walking</h3>
                <h1>Caring for <span class="focus-font">Your Pets</span> Like They're Our Own</h1>
                <p class="hero-p"> Providing compassionate and attentive pet sitting services that prioritize your pet's comfort and well-being, because we treat them like family.</p>
                <Button href="#" size="lg" style="secondary" class="booking-btn">Book Now</Button>
            </div>
           
        </div>
        <div class="hero-right">
            <div class="blob-right">
                <img src="/images/hero-blob-2.svg" alt="light blue blob" height=300>
            </div>
            <img src="/images/golden-lab.webp" alt="golden labrador retriever sitting looking happy" height=400>
        </div>

      
    </div>

   
</section>

<style>

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
    }


    .hero h3 {
        text-align: center;
    }
    .hero-left {
        position: relative;
        z-index: 2;
        margin-bottom: 20px;
        order: 1;
    }

    .blob-left {
        display: none;
    }
    .blob-mobile {
        height: 250px;
        z-index: 2;
  
    }
    .hero-paws {
        position: absolute;
        height: 110px;
        top: -50px;
        left: 15px;
        transform: rotate(-100deg);
        z-index: -1;
    }

    .hero-cat {
        position: absolute;
        height: 200px;
        bottom: 0;
        left: -20px;
        z-index: 5;
    }

    .mobile-lab {
        position: absolute;
        height: 300px;
        bottom: 0;
        right: 0;
        z-index: 4;
    }

    .hero-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
  
    }

    .hero-p {
        text-align: center;
    }

    .hero-header {
        margin-bottom: 15px;
    }

    .hero-header h1 {
        text-align: center;

    }

    .hero-center {
        order: 2;
    }

    .hero-right {
       display: none;
 
    }
    .hero-points {
        display: flex; 
    }

    @media (min-width: 768px) {
        .hero-points {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

@media (min-width: 992px) {

    .hero-container {
        flex-direction: row;
    }


.hero-left {
    order: 2;

}

.hero-center {
    order: 1;
}
 .hero-right {
    display: none
}
 
 

}


/* Extra large devices (xl) - 1200px and above */
@media (min-width: 1200px) {
/* left section */
    .hero-left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex: 1;
        height: 100%;
        width: auto;
        margin-bottom: 80px;
    }

    .hero-paws {
        position: absolute;
        z-index: -1;
        top: 30px;
        left: 0;
        width: 80px;
        height: auto;
        transform: scaleX(-1);
    }

    .blob-left {
        position: absolute;
        transform: scaleX(-1);
        z-index: -1;   
    }
}

/* Extra extra large devices (xxl) - 1400px and above */
@media (min-width: 1400px) {
  /* Your styles for extra extra large devices */
}


</style>
