---

---

<section>
    <div class="why-left-side">
        <h4></h4>
        <h2>Lorem ipsum dolor sit amet<span> consectetur adipisic </span>ing elit</h2>
        <p></p>
        <div class="why-points">
            <div class="why-point-container">
                <img/>
                <div class="about-info-column">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div class="why-point-container">
                <img/>
                <div class="about-info-column">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="why-right-side">
        <div class="about-img">

        </div>
        <div class="about-blob">
            
        </div>
    </div>
</section>

