---
import Button from './Button.astro'
---

<section id="why-us">
	<div class="why-us-container">
		<div class="why-visual-wrap">
			<img class="why-blob" src="./images/blob-1.svg" alt="pink background blob" />
			<img class="why-img" src="/images/blob-2-hugging-dog.webp" alt="woman hugging dog" />
		</div>
		<div class="why-us-left">
			<h3>Why Choose Us</h3>
			<h2>We Take Care of<span class="focus-font"> Your Pets </span> and Keep Them Happy Time</h2>
			<p class="why-spacer">
				At Epic Tails, we treat your pets like family. Our trusted sitters and flexible scheduling
				options ensure your pets get the attention, love, and care they deserve—whether you're
				working late, traveling, or just need a helping hand.
			</p>

			<div class="why-points-container">
				<div class="why-point-container">
					<div class="why-icon-container">
						<div class="why-icon">
							<img src="./icons/pet-certified.svg" alt="icon of persons walking a dog" />
						</div>
					</div>
					<div class="why-info-column">
						<h5>Certified Sitters</h5>
						<p>
							Our team is professionally trained and certified in pet first aid and behavior—so you
							can rest easy knowing your furry companion is in expert hands.
						</p>
					</div>
				</div>

				<div class="why-point-container">
					<div class="why-icon-container">
						<div class="why-icon">
							<img src="./icons/pet-clock-why.svg" alt="icon of hand petting a dog" />
						</div>
					</div>
					<div class="why-info-column">
						<h5>Flexible Care Schedules</h5>
						<p>
							Whether it's daily walks, weekend check-ins, or overnight stays, we tailor our care to
							fit your lifestyle and your pet's needs.
						</p>
					</div>
				</div>
			</div>
			<div class="why-us-btn">
				<Button href="#" size="lg" style="secondary" class="booking-btn">Book Now</Button>
			</div>
		</div>
	</div>
</section>

<style>
	.why-us-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 1300px;
	}

	.why-visual-wrap {
		position: relative;
		width: 100%;
		max-width: 500px;
		aspect-ratio: 1 / 1;
		margin-bottom: 2rem;
	}

	.why-blob {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		z-index: 0;
		transform: rotate(359deg);
	}

	.why-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		z-index: 1;
	}

	.why-us-left {
		max-width: 900px;
		width: 100%;
	}

	.why-spacer {
		padding-bottom: 30px;
	}

	.why-points-container {
		display: flex;
		flex-direction: column;
		gap: 25px;
		width: 100%;
	}

	.why-point-container {
		display: flex;
		align-items: flex-start;
	}

	.why-icon-container {
		flex-shrink: 0;
		margin-right: 12px;
	}

	.why-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		border: 2px solid var(--primary-dark);
		border-radius: 50%;
	}

	.why-icon img {
		margin: 3px;
		width: 35px;
		height: 35px;
	}

	.why-info-column {
		flex: 1;
	}

	.why-us-btn {
		margin-top: 20px;
	}

	@media (min-width: 1024px) {
		.why-us-container {
			flex-direction: row-reverse;
			align-items: center;
			justify-content: center;
			gap: 4rem;
		}

		.why-visual-wrap {
			width: 50%;
			margin-bottom: 0;
		}

		.why-us-left {
			width: 50%;
		}
	}
</style>
